// Background
$bgLight: #ffffff;
$bgDark: #202025;

$accentColor: #fd5103;
$accentBtnColor: #fd5103;

$hoverColor: #fe7031;

// Text color
$textColorLight: #fcfcfc;
$textColorDark: #202025;
$textColorAccent: #fd5103;
// Text color for modal window
$textClGrayForDark: #bdbdbd;
$textClGrayForLight: #5f6775;

$extraDecorColor: #fcfcfc;

// Button background color
$btnBgColor: #fe7031;
$btnAccentBgColor: #fd5103;

//breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$to-mobile: 319.5px;
$to-tablet: 767.5px;
$to-desktop: 1279.5px;
