<div class="section cocktails">
  <div class="container cocktails__container">
    <h2 class="cocktails__title">Cocktails</h2>
    <ul class="cocktails__list">
      <li class="cocktails__item">
        <div class="cocktails__card">
          <img
            src="./images/cocktails/vampiro.jpg"
            alt="desctiption"
            class="cocktails__img"
            width="280px"
            height="280px"
          />
          <p class="cocktails__name">Cocktails name</p>
          <div class="cocktails__buttons">
            <button class="cocktails_learn button button-primary">
              learn more
            </button>
            <button class="cocktails__add button button-secondary">
              Add to
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
