<div class="container cocktails">
  <h2 class="cocktails__title">Cocktails</h2>
  <ul class="cocktails__list" id="listing-table"></ul>
  <ul class="pagination">
    <!-- <li class="page-item">
      <button class="page-link button pagination__prevNext" id="prevButton">
        Previous
      </button>
    </li>
    <div id="pagination-numbers"></div>
    <li class="page-item">
      <button class="page-link button pagination__prevNext" id="nextButton">
        Next
      </button>
    </li> -->
  </ul>
</div>
