<section class="favorite">
  <div class="container">
    <h1 class="favorite__title">Favorite ingredients</h1>
    <p class="favorite__text">You haven't added any favorite ingridients yet</p>

    <ul class="favorite__list-ingredient">
      <li class="favorite__item">
        <div class="ingredient-card">
          <h2 class="ingredient-card__title">Campari</h2>
          <p class="ingredient-card__text">Liqueur</p>
          <div class="buttons-wrap">
            <button
              class="button cocktail-card__btn cocktail-card__btn--accent"
              type="button"
            >
              Learn more
            </button>
            <button
              class="button cocktail-card__btn cocktail-card__btn--transp cocktail-card__btn--centered"
              type="button"
            >
              <span class="">Add to</span>
              <svg class="cocktail-card__heart-icon" width="21" height="19">
                <use href="./images/svg/icons-sprite.svg#heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
