<section class="favorite">
  <div class="container">
    <h1 class="favorite__title">Favorite cocktails</h1>
    <p class="favorite__text">You haven't added any favorite cocktails yet</p>
    <ul class="cocktails__list" id="listing-table"></ul>

    <!-- <label
      class="button cocktail-card__btn cocktail-card__btn--transp cocktail-card__btn--centered"
      >Add to -->

    <!-- <input type="checkbox" id="one" aria-checked="true" checked />
      <svg class="cocktail-card__heart-icon" width="21" height="19">
        <use href="./images/svg/icons-sprite.svg#heart"></use>
      </svg>
    </label> -->

    <!-- <div
      class="button cocktail-card__btn cocktail-card__btn--transp cocktail-card__btn--centered"
    > -->
    <!-- <input type="checkbox" id="favorite" /> -->
    <!-- <p class="header__toggle-light">Add to</p> -->
    <!-- <label -->
    <!-- class="favorite-btn button cocktail-card__btn cocktail-card__btn--transp cocktail-card__btn--centered" -->
    <!-- for="favorite" -->
    <!-- ></label> -->
    <!-- </div> -->
  </div>
</section>
