<header class="header">
  <container class="container container-header">
    <a href="#" class="logo"
      ><img src="./images/logo.png" alt="" height="34px"
    /></a>
    <ul class="header__nav-list">
      <li class="header__nav-item">Home</li>
      <li class="header__nav-item">Favorite</li>
    </ul>
    <form action="" class="header__form">
      <input
        type="search"
        id="site-search"
        name="q"
        class="header__search"
        placeholder="Search"
      />
    </form>
    <button class="burger-btn button">
      <svg
        width="30"
        height="16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="30" height="2" rx="1" fill="#000" />
        <rect y="7" width="30" height="2" rx="1" fill="#000" />
        <rect y="14" width="30" height="2" rx="1" fill="#000" />
      </svg>
    </button>
    <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
  </container>
</header>
