<div class="hero">
  <container class="container hero__container"
    ><h1 class="hero__title">A party without cocktails is not like a party</h1>
    <img
      src="./images/hero/delicious-sangria-cocktail-held-in-hand-mobile.jpg"
      alt="delicious-sangria-cocktail-held-in-hand-mobile"
      class="hero__img"
      width="300px"
    />
    <div class="hero__search">
      <p class="hero__text">Search your favorite cocktail by ABC</p>
      <ul class="hero__alphabet-list" id="letter-widescreen"></ul>
      <form action="" class="hero__form">
        <select name="letter" class="hero__letter" id="letter"></select>
      </form>
    </div>
  </container>
</div>
