<div class="backdrop is-hidden">
  <div class="modal-ingredient ingredient js-ingredient-modal">
    <button class="button close-btn js-ingredient-close-btn" type="button">
      <svg width="32" height="32">
        <use href="./images/svg/icons-sprite.svg#close"></use>
      </svg>
    </button>
    <div class="ingredient__main-content">
      <p class="ingredient__title js-ingredient-title"></p>

      <p class="ingredient__type js-ingredient-type"></p>
    </div>
    <p class="ingredient__desc js-ingredient-desk">
      <span class="ingredient__desc-accent">Campari </span>
    </p>

    <ul class="ingredient__info js-ingredient-info">
      <!-- <li>Type: Bitters</li>
    <li>Country of origin: Italy</li>
    <li>Alcohol by volume: 20.5–28.5%</li>
    <li>Flavour: Bitter, spicy and sweet</li> -->
    </ul>

    <button class="button cocktail__button js-ingredient-add-btn">
      Add to favorite
    </button>
  </div>
</div>
