<div class="backdrop is-hidden">
  <div class="modal cocktail js-cocktail-modal">
    <button class="button close-btn js-cocktail-close-btn" type="button">
      <svg width="32" height="32">
        <use href="./images/svg/icons-sprite.svg#close"></use>
      </svg>
    </button>
    <p class="cocktail__title js-cocktail-title"></p>

    <div class="cocktail__main-content">
      <div class="cocktail__desc-wrapper">
        <p class="cocktail__instruction">Instractions:</p>
        <p class="cocktail__desc js-cocktail-desk"></p>
      </div>

      <div class="cocktail__img-wrapper">
        <img
          class="cocktail__img js-cocktail-img"
          src="./images/ACID.jpg"
          alt="cocktail"
        />
      </div>

      <div class="cocktail__info-block">
        <p class="cocktail__info-text">INGREDIENTS</p>
        <p class="cocktail__info-amount">Per cocktail</p>
        <ul class="cocktail__ingredients js-cocktail-ingredients"></ul>
      </div>
    </div>

    <button class="button cocktail__button js-cocktail-add-btn">
      Add to favorite
    </button>
  </div>
</div>
