<div class="modal cocktail">
  <svg class="close-btn" width="32" height="32">
    <use href="./images/svg/icons-sprite.svg#close"></use>
  </svg>
  <p class="cocktail__title">Negroni</p>

  <div class="cocktail__main-content">
    <div class="cocktail__desc-wrapper">
      <p class="cocktail__instruction">Instractions:</p>
      <p class="cocktail__desc">
        Add the gin, Campari and sweet vermouth to a mixing glass filled with
        ice, and stir until well-chilled. Strain into a rocks glass filled with
        large ice cubes. Garnish with an orange peel.
      </p>
    </div>

    <div class="cocktail__img-wrapper">
      <img class="cocktail__img" src="./images/ACID.jpg" alt="" />
    </div>

    <div class="cocktail__info-block">
      <p class="cocktail__info-text">INGREDIENTS</p>
      <p class="cocktail__info-amount">Per cocktail</p>
      <ul class="cocktail__ingredients">
        <li><span>Ice</span></li>
        <li><span>1 ounce gin</span></li>
        <li><span>1 ounce Campari</span></li>
        <li><span>1 ounce Campari</span></li>
        <li><span>1 ounce Campari</span></li>
      </ul>
    </div>
  </div>

  <button class="button cocktail__button">Add to favorite</button>
</div>
