.container-header {
  align-items: center;
}

.header__form {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__nav-list {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
    margin-top: auto;

    font-family: 'Poppins';
    font-style: normal;

    gap: 60px;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: 0.02em;

    /* Black */

    color: #202025;
  }
}

.header__search {
  width: 248px;
  height: 40px;
  left: 0px;
  top: 0px;

  /* Grapefruit */

  border: 1px solid #fd5103;
  border-radius: 0 5px 5px 0;
  border-left: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  padding-left: 8px;
  align-items: center;
  outline: none;
}

.searchButton {
  height: 40px;
  width: 40px;
  border: 1px solid #fd5103;
  background: transparent;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px;
}

.burger-btn {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

//toggle

.header__toggle-box {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  height: 0;
  width: 0;
  visibility: hidden;
}

.header__toggle {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;

  border: 0.604701px solid #fd5103;
  display: block;
  border-radius: 20px;
  position: relative;
}

.header__toggle:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;

  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 100%;
  transition: 0.3s;
  background-color: #fd5103;
}

input:checked + .header__toggle:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.header__toggle:active:after {
  width: 25px;
}

.header__toggle-light,
.header__toggle-dark {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.header__toggle-light {
  margin-right: 12px;
}

.header__toggle-dark {
  margin-left: 12px;
  color: #5f6775;
}
