.header {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 77px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 97px;
  }
}

// .container-header {
//   display: flex;
//   justify-content: space-between;
//   // align-items: center;
//   align-items: flex-end;
//   padding-top: 20px;
//   }

// .logo__img {
//   height: 34px;

//   @media screen and (min-width: 768px) {
//     height: 43px;
//   }
// }

// --------------------
.container-header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  // width: 320px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    align-items: flex-end;
    // width: 768px;
  }

  // @media screen and (min-width: 1280px) {
  //   width: 1280px;
  // }
}

.logo {
  position: relative;
  font-family: 'Poppins';
  font-size: 22px;
  line-height: 1.09;
  text-transform: uppercase;
  color: #fd5103;
  padding-top: 10px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 0.86;
    padding-top: 0;
    margin-right: 190px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 43px;
  }
}

.logo__img {
  position: absolute;
  z-index: -1;
  top: -6px;
  left: 81px;
  height: 26px;
  width: 30px;

  @media screen and (min-width: 768px) {
    top: -22px;
    left: 104px;
    height: 33px;
    width: 38px;
  }
}

// -----------------

.header__nav {
  display: none;
  // display: flex;
  // align-items: flex-end;
  // gap: 43px;

  @media screen and (min-width: 1280px) {
    display: flex;
    margin-right: 251px;
  }
}

.header__nav-list {
  // position: relative;
  // display: none;

  @media screen and (min-width: 1280px) {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 1.33;

    display: flex;
    gap: 60px;
  }
}

.header__nav-item {
  position: relative;

  &:hover .header__box-favorite {
    display: block;
    // margin-top: 8px;
  }

  & .header__favorite-icon {
    display: none;
  }
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: #fd5103;
  outline: none;

  & .header__favorite-icon {
    fill: #fd5103;
  }
}

.header__box-favorite {
  display: none;
  position: absolute;
  top: 25px;
  // top: 33px;
  width: 210px;
  height: 96px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  overflow: hidden;
}

.header__favorite-link {
  // font-size: 18px;
  // line-height: 1.33;
  color: inherit;
  padding: 12px 0 12px 12px;
  display: block;

  &:hover {
    color: #ffffff;
    background-color: #fd5103;
    // transition-delay: 1000ms;
  }
}

.header__form {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: auto;
  }
}
.header__search {
  width: 248px;
  height: 40px;
  color: inherit;
  border: 1px solid #fd5103;
  border-radius: 0 4px 4px 0;
  border-left: none;
  background-color: transparent;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.71;
  padding: 8px;
  outline: none;

  &::placeholder {
    color: #5f677566;
  }
}

.searchButton {
  height: 40px;
  width: 40px;
  border: 1px solid #fd5103;
  border-radius: 4px 0 0 4px;
  background: transparent;
  font-size: 20px;
  text-align: center;
  color: #fff;
  cursor: pointer;

  &:hover .searchButton__icon,
  &:focus .searchButton__icon {
    width: 28px;
    height: 28px;
  }
}

.searchButton__icon {
  fill: #fd5103;
}

.burger-btn {
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 20px;
    top: 32px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

//toggle

.header__toggle-box {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    margin-right: 0;
  }
}

input[type='checkbox'] {
  display: none;
}

.header__toggle {
  position: relative;
  width: 40px;
  height: 20px;

  background-color: #fff;
  border: 0.604701px solid #fd5103;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  transition: 300ms;

  &:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fd5103;
    transition: 300ms;
  }
}

input:checked ~ .header__toggle {
  background-color: #fd5103;
  border-color: #fff;
  transition: 300ms;
}

input:checked ~ .header__toggle:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
  background-color: #fff;
}

.header__toggle-light,
.header__toggle-dark {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 24px;
}

.header__toggle-light {
  color: #fd5103;
}

.header__toggle-dark {
  color: #5f6775;
}

// ----------------burger menu------------------

// .menu-active {
//   position: fixed;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 320px;
//   height: 100vh;
//   // margin-left: auto;
//   // margin-right: auto;

//   background-color: #ffffff;

//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }
// }

// .menu-active::after {
//   @media screen and (min-width: 768px) {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 110px;
//     background-color: #fd5103;
//   }
// }

// .menu-active .container-header {
//   font-family: 'Poppins';
//   flex-wrap: wrap;
//   row-gap: 40px;

//   @media screen and (min-width: 768px) {
//     row-gap: 63px;
//     padding-top: 32px;
//   }
// }

// .menu-active .logo {
//   display: none;

//   @media screen and (min-width: 768px) {
//     display: flex;
//     order: 1;
//     margin-right: 150px;
//   }
// }

// .menu-active .header__nav {
//   display: flex;
//   order: 4;

//   @media screen and (min-width: 768px) {
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

// .menu-active .header__nav-item {
//   font-size: 28px;
//   line-height: 0.86;
//   margin-bottom: 32px;

//   @media screen and (min-width: 768px) {
//     margin-bottom: 40px;
//   }
// }

// .menu-active .header__nav-link {
//   display: flex;
//   align-items: center;
// }

// .menu-active .header__favorite-icon {
//   display: flex;
//   fill: #000000;
//   margin-top: 4px;
//   margin-left: 8px;
// }

// .menu-active .header__box-favorite {
//   font-size: 24px;
//   line-height: 0.86;
//   top: 48px;
//   width: 280px;
//   height: auto;
// }

// .menu-active .header__favorite-link {
//   padding: 16px 12px;
// }

// .menu-active .header__form {
//   display: flex;
//   order: 3;

//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

// .menu-active .header__search {
//   width: 240px;
// }

// .menu-active .burger-btn {
//   order: 2;

//   @media screen and (min-width: 768px) {
//     // position: relative;
//     order: 3;
//     top: 40px;
//     right: 16px;
//   }
// }

// .menu-active .header__toggle-box {
//   display: flex;
//   align-items: center;
//   gap: 12px;
//   order: 1;

//   @media screen and (min-width: 768px) {
//     order: 2;
//     margin-right: 246px;
//     margin-bottom: 6px;
//   }
// }

// .menu-active .header__toggle-dark {
//   color: #202025;
// }
