.hero__container {
  // display: block;
  // width: 320px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    // width: 768px;
    height: 294px;
    margin-bottom: 120px;
  }

  @media screen and (min-width: 1280px) {
    // width: 1280px;
    height: 439px;
  }
}

.hero__title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  margin-bottom: 60px;
  width: 300;
  color: #fd5103;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.62;

    margin-top: 23px;
    margin-bottom: 40px;
    width: 50%;
    // height: 84px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 52px;
    line-height: 1.54;
    margin-top: 0;
    width: 688px;
  }
}

.hero__img {
  width: 280px;
  height: 245px;
  margin-bottom: 60px;

  // display: block;
  // margin-left: auto;
  // margin-right: -20px;
  // width: 100%;
  // margin-top: 28px;
  // margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    // display: block;
    width: 336px;
    height: 294px;
    order: 1;
    align-self: flex-end;

    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 501px;
    height: 439px;
    // order: 1;
  }
}

// .hero__search {
//   width: 50%;

//   @media screen and (min-width: 320px) {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }

.hero__text {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  text-align: center;
  color: inherit;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.hero__form {
  // width: 324px;
  // height: 75px;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
  // display: flex;
  // align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// default select
// .hero__letter {
//   // font-family: 'Poppins';
//   // font-weight: 700;
//   // font-size: 16px;
//   // line-height: 1.35;
//   color: #fd5103;
//   padding-left: 10px;
//   border: 1px solid #fd5103;
//   border-radius: 4px;
//   width: 93px;
//   height: 34px;
//   max-height: 84px;

//   appearance: none;
//   //   <svg width='13' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M.843 1.594 6.5 7.25l5.657-5.657-.707-.707-4.95 4.95L1.55.887l-.707.707Z' fill='#FD5103'/></svg>
//   background-image: url("data:image/svg+xml,%3csvg width='13' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.843 1.594 6.5 7.25l5.657-5.657-.707-.707-4.95 4.95L1.55.887l-.707.707Z' fill='%23FD5103'/%3e%3c/svg%3e");
//   background-repeat: no-repeat;
//   background-position: right 14px top 50%;

//   &:hover,
//   &:focus {
//     outline: none;
//     color: #ffffff;
//     background-color: #fd5103;
//     background-image: url("data:image/svg+xml,%3csvg width='13' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.843 1.594 6.5 7.25l5.657-5.657-.707-.707-4.95 4.95L1.55.887l-.707.707Z' fill='%23FFFFFF'/%3e%3c/svg%3e");
//   }
// }

// .hero__option {
//   font-family: 'Poppins';
//   font-weight: 700;
//   font-size: 10px;
//   line-height: 1.5;
//   color: #5f6775;
//   background-color: #ffffff;
// }

//widescreen list

.hero__alphabet-list {
  display: none;

  @media screen and (min-width: 768px) {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #5f6775;

    width: 324px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    width: 523px;
  }
}

.hero__alphabets-item {
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 25px;
  }

  @media screen and (min-width: 1280px) {
    width: 40px;
    height: 40px;
  }
}

.hero__alphabets-button {
  &:hover,
  &:focus {
    transition: 250ms;
    color: #fd5103;
    text-shadow: 0px 4px 4px rgba(95, 103, 117, 0.25), -0 -1px 0 #5f6775,
      0 -1px 0 #5f6775, -0 1px 0 #5f6775, 0 1px 0 #5f6775, -1px -0 0 #5f6775,
      1px -0 0 #5f6775, -1px 0 0 #5f6775, 1px 0 0 #5f6775, -1px -1px 0 #5f6775,
      1px -1px 0 #5f6775, -1px 1px 0 #5f6775, 1px 1px 0 #5f6775,
      -1px -1px 0 #5f6775, 1px -1px 0 #5f6775, -1px 1px 0 #5f6775,
      1px 1px 0 #5f6775;
  }
}

// castom select

.hero__select-choose {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.35;
  color: #fd5103;
  cursor: pointer;

  width: 93px;
  height: 34px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  background-color: inherit;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  margin: auto;
}

.hero__select-icon {
  fill: #fd5103;
  // fill: inherit;

  margin-left: auto;
}

.hero__select-box {
  width: 93px;
  height: 84px;
  overflow: auto;
  border: 1px solid #fd5103;
  border-radius: 4px;
  margin: auto;
  padding: 6.5px 10px;
  text-align: left;
  cursor: pointer;
}

.hero__select-option {
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: #5f6775;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &:hover {
    color: #fd5103;

    background-color: rgb(199, 197, 197);
  }
}

.hero__select-box::-webkit-scrollbar {
  width: 4px;
}

.hero__select-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.hero__select-box::-webkit-scrollbar-thumb {
  height: 34px;
  border-radius: 4px;
  background-color: #5f6775;
}

.active-letter {
  color: #fcfcfc;
  fill: #fcfcfc;
  background-color: #fd5103;
}

.active-icon {
  fill: #fcfcfc;
}
