$accent-color: #fd5103;
$accent-second-color: #fe7031;
$main-color: #202025;
$second-color: #5f6775;
$placeholder-color: #5f677566;
$light-color: #ffffff;
$text-favorite-color: #000000;
$text-hero-color: #000000cc;
$background-favorite-color: #fffcfa;
$main-light-color: #fcfcfc;
$modal-text-color: #bdbdbd;
