
{{#each this}}
<li class="cocktails__item">
    <div class="cocktails__card">
        <img src="{{this.strDrinkThumb}}" alt="desctiption" class="cocktails__img" width="280px"
            height="280px" />
        <p class="cocktails__name">{{this.strDrink}}</p>
        <div class="cocktails__buttons">
            <button class="cocktails_learn button button-primary">
                learn more
            </button>
            <button class="cocktails__add button button-secondary">
                Add to
            </button>
        </div>
    </div>
</li>
{{/each}}